<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eorder.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Main"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="PedidoE"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.CenterActivity"></activity>
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.RecoverPasswordActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.LandingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>