<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pedidoe.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.pedidoe.app.Main"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PedidoE"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.pedidoe.app.activities.ActivateCenterActivity"></activity>
        <activity android:name="com.pedidoe.app.activities.ProfileActivity" />
        <activity android:name="com.pedidoe.app.activities.RecoverPasswordActivity" />
        <activity android:name="com.pedidoe.app.activities.ProductCalendarActivity" />
        <activity android:name="com.pedidoe.app.activities.CreateAccountActivity" />
        <activity android:name="com.pedidoe.app.activities.CheckEmailActivity" />
        <activity android:name="com.pedidoe.app.activities.ProductActivity" />
        <activity android:name="com.pedidoe.app.activities.SellerActivity" />
        <activity android:name="com.pedidoe.app.activities.CenterActivity" />
        <activity android:name="com.pedidoe.app.activities.SellerProductActivity" />
        <activity android:name="com.pedidoe.app.activities.CartBreakdownActivity" />
        <activity android:name="com.pedidoe.app.activities.OrderDoneActivity" />
        <activity android:name="com.pedidoe.app.activities.OrderActivity" />
        <activity android:name="com.pedidoe.app.activities.BaseMenuActivity" />
        <activity android:name="com.pedidoe.app.activities.ShopActivity" />
        <activity android:name="com.pedidoe.app.activities.LandingActivity" />
        <activity android:name="com.pedidoe.app.activities.ChangePasswordActivity" />
        <activity android:name="com.pedidoe.app.activities.LoginActivity" />
        <activity android:name="com.pedidoe.app.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>